<?xml version="1.0" encoding="UTF-8"?>
<configuration>

  <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
    <!-- encoders are assigned the type
         ch.qos.logback.classic.encoder.PatternLayoutEncoder by default -->
    <encoder>
      <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
    </encoder>
  </appender>

 
  
   <appender name="FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
  	<append>true</append>
    <file>/var/mineiro/logs/mineiro.log</file>
    <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
      <!-- daily rollover -->
      <fileNamePattern>/var/mineiro/logs/mineiro.%d{yyyy-MM-dd}.log.gz</fileNamePattern>

      <!-- keep 30 days' worth of history -->
      <maxHistory>120</maxHistory>
    </rollingPolicy>

    <encoder>
      <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{35} - %msg%n</pattern>
    </encoder>
  </appender> 

  <root level="WARN">
    <appender-ref ref="FILE" />
    <appender-ref ref="STDOUT" />
  </root>
  <!-- <logger name="org.springframework" level="WARN" /> -->
  <logger name="br.jus.cjf" level="INFO" additivity="false">
  	<appender-ref ref="FILE" />
  	<appender-ref ref="STDOUT" />
  </logger>
</configuration>